.btn{
    background-color: #F77757;
    color: white;
    padding: 6px;
    margin-right: 10px;
    margin-bottom: 1rem;
    font-size: 15px;
    border: inherit;
    width: 8rem;
}

.btn:hover{
    background-color: #a94931;
}



.btn:active{
    border: solid white 1px;
    background-color: #c04e32;
}

.loan-button{
    display: flex;
    justify-content: space-evenly;
    padding: 0rem;
}

@media only screen and (max-width: 700px) {
.loan-buttons{
    text-align: center;
}
}

@media only screen and (max-width: 500px) {
    .btn{
        width: 90%;
        padding: 10px;
        font-size: 20px;
    }
}