/* .chart-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    width: 60%;
    padding: 2rem;
} */

.save-buttons{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.loan-list{
    background-color: #8080801f;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 10px;
}

.loan-list:hover{
    background-color: #808080e3;
    cursor: pointer;
}

.activated{
    background-color: #808080e3;
}

.delete-item{
    background-color: red;
    color: white;
    padding: 3px;
    height: 20px;
    width: 20px;
    border-radius: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    float: right;
    z-index: 4;
}

.delete-item:hover{
    background-color: rgb(246, 120, 120);
    color:#00000063;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .chart-container{
        width: 100%;
        max-height: initial;
        padding-bottom: 1rem;
        max-width: initial;
        border-radius: unset;
        height:initial;
    }

    canvas{
        min-height: initial;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    h3{
        font-size: 26px;
    }
}


canvas{
    min-height: 55vh;
    width: 100%;
}

.chart-container span{
    font-size: 1.3rem;
}

.result-values{
    display: flex;
    justify-content: space-between;
    margin-left:1rem;
    margin-right: 2rem;
}